.container {}

.content {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.alerts {
  width: 400px;
  height: 100%;
}

.btnControl {
  border: 1px solid var(--PRIMARY_LIGHTER);
  border-radius: .3em;
  background-color: var(--PRIMARY_LIGHTER);
  cursor: pointer;
  font-size: .9em;
}

.btnControl:hover {
  background-color: var(--PRIMARY_LIGHTER_EVEN);
}

.map {
  flex-grow: 1;
}